*{
    margin: 0;
}

.navbar{
    background-color: rgb(24, 42, 77);
    height: 50px;
    width: 100vw;
    position: relative;
}

.navbar_icon{
    height: 100%;
    width: 150px;
    position: absolute;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.icon_1{
    height: 45px;
    width: 45px;
}

.navbar_btn_group_1{
    height: 100%;
    width: 650px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 250px;
}

.navbar_btn_group_1 button{
    height: 100%;
    width: 120px;
    background-color: rgb(24, 42, 77);
    color: orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}

.navbar_btn_group_1 button:hover{
    background-color: orange;
    color: rgb(24, 42, 77);
    cursor: pointer;
}

.navbar_btn_group_2{
    height: 100%;
    width: 250px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 200px;
}

.navbar_btn_group_2 button{
    height: 100%;
    width: 90px;
    background-color: rgb(24, 42, 77);
    color: orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}

.navbar_btn_group_2 button:hover{
    background-color: orange;
    color: rgb(24, 42, 77);
}

.main_container{
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
}

.sidebar{
    height: calc(100vh - 50px);
    width: 200px;
    box-shadow: 2px 0 8px gray;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.sidebar img{
    border: 2px solid aqua;
    border-radius: 100%;
    width: 90%;
    height: 20%;
    margin: 20px;
    box-shadow: 4px 4px 12px gray;
}

.sidebar img:hover{
    border: 2px solid rgb(255, 127, 127);
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.sidebar li{
    display: flex;
    flex-flow: column;
}

.sidebar button{
    color: black;
    text-decoration: none;
    height: 35px;
    width: 170px;
    border: 1px solid gray;
    margin-top: 8px;
    border-radius: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 0 8px gray inset;
}

.sidebar button:hover{
    background-color: orange;
    animation-name: extend_animation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes extend_animation {
    from {background-color: white; border-radius: 20px;}
    to {background-color: rgb(0, 191, 191); border-radius: 0;}
  }

.content_pane{
    height: calc(100vh - 50px);
    width: calc(100vw - 200px);
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.register_page{
    height: 100%;
    width: 25%;
    box-shadow: 4px 4px 12px gray;
}

.register_page_disabled{
    background-color: gray;
    height: 50%;
    width: 50%;
    visibility: hidden;
}

.userinfo_1{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.userinfo_1 div{ 
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.userinfo_1 input{
   width: 100%;
}

.birthday_box div{
    width: 90%;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    color: gray;
}

.userinfo_1 select{
    width: 100%;
 }