.Ustkisim{
            background-color: black;
            border: dashed black 2px;
            height: 200px;
            width: 1800px;
           }

.AramaCubugu{
            height: 70px;
            width: 300px;
            position: relative;
            left: 1100px;
            top: 40px;
            border-radius: 10px;
}


.AnaSayfaButonu{
            padding: 25px 55px;
            background-color: yellow;
            border-radius: 8px;
            position: relative;
            left: 10%;
            top:85%;
            transition-duration: 0.3s;
           }
.AnaSayfaButonu:hover{
        background-color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.FilmlerButonu{
            padding: 25px 55px;
            background-color: red;
            border-radius: 8px;
            position: relative;
            left: 12%;
            top:85%;
            transition-duration: 0.3s;
}
             .FilmlerButonu:hover{
                                   background-color: white;
                                   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

                               }

.DizilerButonu{
            padding: 25px 55px;
            background-color: cyan;
            border-radius: 8px;
            position: relative;
            left: 14%;
            top:85%;
            transition-duration: 0.3s;
}
             .DizilerButonu:hover{
                                   background-color: white;
                                   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                               }

.SporButonu{
            padding: 25px 65px;
            background-color: green;
            border-radius: 8px;
            position: relative;
            left: 16%;
            top:85%;
            transition-duration: 0.3s;
}
             .SporButonu:hover{
                                   background-color: white;
                                   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

                               }


.AltKisim{
            background-color: black;
            border: dashed black 2px;
            height: 1000px;
            width: 1800px;
           }

.Movie1x1{
            height: 400px;
            width: 400px;
            position: relative;
            left: 0px;
            top: 40px;
            border-radius: 20px;
        }

.Movie1x2{
            height: 400px;
            width: 400px;
            position: relative;
            left: 700px;
            top: 40px;

        }

.birinciyazıkutusu{

            background-color: black;
            border: dashed black 2px;
            position: relative;
            left: 400px;
            top:-300px;
            height: 300px;
            width: 700px;

}

.RamboBaslik{
        color: red;
        position:relative;
        left: 22%;
        top: 12%;

}

.rambo1yazi{
           color: red;
           text-align: left;
           font-family: times new roman;
           font-size: 15px
}

.RamboFragmanButonu{
            padding: 15px 32px;
            background-color: white;
            border-radius: 8px;
            position: relative;
            left: 10%;

            transition-duration: 0.3s;
}

.YorumYapButonu{
            padding: 15px 32px;
            background-color: white;
            border-radius: 8px;
            position: relative;
            left: 12%;

            transition-duration: 0.3s;
}


.PuanlaButonu{
            padding: 15px 32px;
            background-color: white;
            border-radius: 8px;
            position: relative;
            left: 14%;

            transition-duration: 0.3s;
}



.horizontalline{
        position: relative;
        top: -25%;

}