div{
    
    

}



.alan1 {
    background-color: red;
    height: 20vh;
    width: 20vw;
    position: relative;
    left: 30px;
    top: 40px;
}

.alan2 {
    background-color: green;
    height: 20vh;
    width: 20vw;
    position: relative;
    left: 25px;
    top: 25px;
}

.alan3 {
    background-color: blue;
    height: 10vh;
    width: 10vw;
    position: absolute;
    left: 75%;
}



